@font-face {
    font-family: 'Tiempos';
    src: url(fonts/TiemposHeadline-Medium.otf);
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(fonts/ProximaNova-Regular.otf);
}

body {
  color: #333333;
  font-family: 'Proxima Nova';
  padding: 50px;
  line-height: 28px;
}


h1 {
  font-family: 'Tiempos';
  font-size: 35px;
  line-height: 50px;
}

h2 {
  font-family: 'Tiempos';
  font-size: 30px;
  font-weight: 200;
  color: #424242;
  line-height: 40px;
}

h4 {
  font-family: 'Proxima Nova';
  font-size: 20px;
  color: #424242;
}

p {
  font-size: 16px;
  color: #424242;
}

a {
  color: #fcac42;
  text-decoration: none;
}

.orange {
  color: #fcac42;
}
