@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.4em;
  font-family: Bitter;
  color: #666;
  background: #efefef;
  /*background: #efefef url(https://s3.amazonaws.com/ooomf-com-files/xDtuvK3GRJGUSUHgj0ew_IMG_3860.jpg) center top no-repeat;
  background-size: cover;*/
  margin: 0;
  padding: 5em 0;
  border-left: solid 1em #444;
  border-right: solid 1em #444;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tb, .bb {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  height: 1em;
  background: #444;
}
.tb {
  top: 0;
}
.bb {
  bottom: 0;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

main .featuredimage {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: solid 4px #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

h1 {
  font-family: Varela Round;
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
}

main h1 {
  margin: 1em 0 0.2em 0;
}

.date{
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.6em;
}

@media (min-width: 58em) {
  main h1 {
    font-size: 2.6em;
    text-align: center;
    max-width: 21em;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 1.4em;
    line-height: 1.5em;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  color: orange;
  opacity: 10%;
}
